body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing:0;
    font-weight: 400;
    background-color: #e7eceb5b;
    box-sizing: border-box;
}


.navbar-custom{
    background-color: transparent !important;
    position:fixed;
    width: 100%;
    z-index: 2;
    
}
.navbar{
    transition: all 0.5;

}
.navbar-scrolled{
    background-color: #f5f5f5 !important;
    box-shadow: 0 3px 10px rgba(0,0,0,0.50);
    
}

.container_fluid{
    background-image: url(./img/Design\ sem\ nome\ \(1\).png);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    }
.logo-banner{
    margin-left: 50px;
    padding-top: 100px;
    text-align: center;
    max-width: 600px;
    color: rgb(25, 41, 37);
    
}
.banner{
    width: 500px;
}

.container-contact{
    width: 100%;
    margin: 0;
    padding: 0;
}
.card-deck {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    margin:50px;
    position: relative;
}
.card-body_2{
    background-color:transparent;
    border-radius: 50px;
    padding: 50px;
}
.card-title{
    color:#1aa375
}

.infotext{
    align-content: baseline;
    padding: 50px;
    text-align: center;
    
}
.title_infosolar{
    padding: 50px;
    margin: 30px;
    justify-content:baseline;
    text-align: center;
    color: #1aa375;    
}
.row {
    padding: 50px;
    text-align: center;
    justify-content: center;
}
.col{
    padding: 30px;
}
.col-box{
    border-radius: 50px;
    justify-content: center;
    border: 4px solid #1aa375; 
    margin: 15px;
    transition: transform 0.3s ease;
}
.col-box:hover{
    transform: scale(1.1);
    box-shadow: 0 3px 10px rgba(0,0,0,0.50);
    cursor: none;
    background-color: #1aa375;

}

.services{
    width: auto;
    text-align: center;
    margin: 30px;
    justify-content: center;
}
.card{
    border-radius: 50px;
    justify-content:space-around;
    color:#464646;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 3px 10px rgba(0,0,0,0.50);
    cursor: pointer;
    
}

.card-img-top{
    border-radius: 20px;
    width: 100px;
    background-color:#1aa375;
    padding: 20px;

}
.title-services{
    justify-content: center;
    width: 100%;
    color: #1aa375;
    padding: 20px;
    text-align: center;
}
.row_2{
    background-image: url(./img/background\ sobre\ nos.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    justify-content:space-around;
    padding: 100px;
    display: flex;
    position: relative;
    
}
.container-action{
    background-color: #ffe600;
    text-align:center;
    color: #464646;
    height: 60px;
    width: 100%;

}
.button{
    color: #1aa375;
}
.title-about{
    justify-content: center;
}
.container-about{
    width: 40%;
}
.imagem-about{
    width: 40%;
    justify-content: end;

}
.title-about{
    padding-bottom: 20px;
    text-align: center;
}


/* Parte do contato*/

.container-contact{
    display: flex;
}

/*formulario bootstrap*/
section{
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: transparent;
    width: 500px;
   font-weight: 500;
    
}

section h2{
    color: #f5f5f5;
    font-size: 2.0rem;
    margin: 1.5rem;
    
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
forminput{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}
.sobre-title {
    justify-content: flex-end;
    padding: 40px;
}

.contact {
    padding: 20px;
    max-width: 100%;
    display: column;
    justify-content: cover;
    
}
.contactus .contact-title {
    justify-content: cover;
    padding: 20px;
}
.location {
    width: 100%;
    display: flex;
}
.contact-social img{
    width: 40px;
    height: 40px;
    display: row;   
}

.maps {
    display: flex;
    position:static;
    margin-top: 100px;
    justify-content: center;
       
}

/*Parte do rodapé*/

footer {
    padding-top: 50px;
    width: 100%;
    height: 250px; 
    text-shadow: 0px 3px 20px #464646; 
}
footer .main {
    width: 100%;
    height: 300px;
    background: #1aa375;
    padding: 30px 10px;
}
.footer-links{
    max-width: 90%;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 20px;  
}
.footer-Institucional, .footer-politicas-da-loja, .footer-contact, .footer-social {
    color: white;
    height: 100%;
    min-height: 100px;
    cursor: pointer;
}
.footer-declaracao{
    color: white;
    height: 100%;
    min-height: 50px;
}
.footer-links {
    margin-bottom: 10px;
}
.footer-links h6{
    margin-bottom: 8px;
}
.main .footer-social img{
    width: 32px;
    height: 32px;
}
footer .last {
    width: 100%;
    height: 50px;
    background: #231720;
    color: #ffffffff;
    display: flex;
    align-items: center;
    justify-content: center;   
}



@media(max-width:576px){

.container_fluid{
 background-image: url(./img/Design\ sem\ nome\ \(1\).png);   
 max-width: 576px;
 background-size: cover;
 background-position: center;
 display: block;
 
}    
.logo-banner{
    margin-left: 50px;
    padding-top: 50px;
    text-align:justify;
    max-width: 500px;
    color: azure;
}
.banner{
    width: 200px;
    align-items: center;
}    

.container-about{
    width: 100%;
    text-align: center;
    margin: 0;
    
} 
.imagem-about{
    width: auto;
}   
.services{
    width: 100%;
    margin: 0;
}
container container-contact{
max-width: 100%; 
position: relative;   

}

footer {
    height: 100%;
}
footer .main{
    height: 100%;
}
.footer-links {
    flex-direction: column;
    padding-left: 10%;
}
.row{
    width: 100%;
}
.row_2{
    display: flex;
    text-align: justify;
    width: 100%;
}
.container-contact{
    display: block;
    margin: 0
    ;
}
section{
    width: 300px;   
    margin: 0;
}
.container-action{
height: 120px;
}

}
